.MobileAppSection{
    width: 100%;
    padding: 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerMobileApp{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.headerMobileApp h2{
    margin: 0px;
    padding: 8px;
    font-family: 'oswald';
    font-size: 36px;
    font-weight: 600;
    color: #1B1B1B;
}
.headerMobileApp p{
    margin: 0px;
    padding: 8px;
    font-family: 'oswald';
    font-size: 18px;
    color: #4B4B4B;
}
.MobileAppImages{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.MobileAppImages img {
    width: 50%;
    border-radius: 24px;
}

.keyPointsMobileApp{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.KeyTable{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border-bottom: 1.5px solid #E0E0E0;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.KeyTable h4{
    width: 25%;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}
.KeyTable p{
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.Icon{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.Icon:hover{
    background-color: #D72631;
    transform: scale(1.1);
}
.Icon:hover img {
  filter: brightness(0) invert(1);
}