.PowerFeatureSection {
  width: 100%;
  padding-top: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
.HeaderText{
    font-family: 'Oswald';
    gap: 0px;
    width: 50%;
}
.HeaderText h3 {
    font-size: 36px;
    margin: 0px;
}
.HeaderText p {
    font-size: 18px;
    margin: 8px;
}
.Header {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.ViewBtn {
    background-color: #E63B2E;
    color: white;
    padding: 8px 16px;
    border: solid 2px;
    border-color: #D72631;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 54px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.ViewBtn:hover{
    background-color: #F9F9F7;
    color: #D72631;
    border: solid 2px;
    border-color: #D72631;
}
.HrzLine{
    padding-inline: 32px;
    margin: 0px;
}
.PowerCardContainer {
    display: flex;
    overflow: auto;
    width: 100%;
}
.PowerCard img {
    width: 100%;
    height: 420px;
}
.PowerCard {
    padding: 24px;
    width: 480px;
    gap: 20px;
}
.PowerCard h4 {
    font-size: 32px;
    font-family: 'Oswald';
    color: #1B1B1B;
    margin: 0px;
}
.PowerCard p {
    font-size: 18px;
    font-family: 'Oswald';
    color: #4B4B4B;
    margin-top: 8px;
}
.PowerCardText {
    gap: 8px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.Arrow{
    padding-inline: 32px;
    padding: 16px;
    width: 100%;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    justify-content: right;
}