.TestimonialSection{
    width: 100%;
    height: 580px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #1B1B1B;
    margin: 0px;
}
.TestimonialSection p{
    color: #f9f9f7;
    font-family: 'oswald';
    font-size: 36px;
    margin: 0px;
    padding: 16px;
}
.TestimonialCard{
   display: flex;
   width: 100%;
   gap: 24px;
   box-sizing: border-box;
   align-items:flex-start;
}
.TestimonialCardText{
   display: flex;
   color: #f9f9f7;
   flex-direction: column;
   justify-content: right;
   align-items: right;
}
.TestimonialCardText h2 {
    color: #D4AF37;
    font-family: 'oswald';
    font-size: 36px;
    margin: 0px;
    padding: 8px;
}
.TestimonialCardText h4 {
    color: #f9f9f7;
    font-family: 'oswald';
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    padding: 8px;
}
.TestimonialCardText h3 {
    color: #f9f9f7;
    font-family: 'oswald';
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 8px;
}
.TestimonialCard img {
    width: 420px;
    height: 380px;
    object-fit: cover;
    border-radius: 24px;
}
.NextPrevBtn{
    background: transparent;
    border: none;
    margin: 0px;
    pad: 12px;
    gap: 16px;
    display: flex;
    cursor: pointer;
}
.TestimonialCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}